**/.vs
**/.git
**/bin
**/obj
**/node_modules
.dockerignore
Dockerfile
docker-compose.yml
README.md
Output.md
docs/
.env
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist
/build
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
ReadYourWritesConsistency.Web/dist
ReadYourWritesConsistency.Web/node_modules
ReadYourWritesConsistency.Web/coverage
ReadYourWritesConsistency.Web/.DS_Store
